<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update folder</title>
  </head>
  <body>
    <form action="/update" method="post">
      <label for="folderName">New Folder name</label>
      <input type="text" name="folderName" id="folderName" />

      <br /><br />

      <button type="submit">Update</button>
    </form>
  </body>
</html>
